@model List<ProductViewModel>
@{
    ViewData["Title"] = "Index";
}

<h1>Ürünler</h1>

@if (TempData["status"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["status"]
    </div>
}

<a asp-controller="Product" asp-action="Add"> Ürün Ekle</a>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Resim</th>
            <th>Kategori</th>
            <th>İsim</th>
            <th>Fiyat</th>
            <th>Stok</th>
            <th>Renk</th>
            <th>Yayınlansın mı?</th>
            <th>Süre(Ay)</th>
            <th>Ürün açıklama</th>
            <th>İşlem</th>
        </tr>   
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr class="align-middle">
                <td>@product.Id</td>
                <td>
                    @if (!String.IsNullOrEmpty(product.ImagePath))
                    {
                        <img style="width:100px; height:100px;" src="/images/@(product.ImagePath)"/>
                    }
                    else
                    {
                        <img style="width:100px; height:100px;" src="/images/noimage.jpg">
                    }
                </td>
                <td>@product.CategoryName</td>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Stock</td>
                <td>@product.Color</td>
                <td>@(product.isPublish ? "Evet" : "Hayır")</td>
                <td>@product.Expire</td>
                <td>@if (product.Description.Length > 20)
                    {
                        @product.Description.Substring(0,20)<text>...</text>
                    }
                    else
                    {
                        @product.Description
                    }
                </td>
                <td>
                    <a asp-controller="Product" asp-action="Remove" asp-route-id="@product.Id">Sil</a>
                    <a asp-controller="Product" asp-action="Update" asp-route-id="@product.Id">Güncelle</a>
                    <a asp-controller="Product" asp-action="GetById" asp-route-productId="@product.Id">Ürün sayfasına git</a>
                </td>
            </tr>
        }
    </tbody>
    
</table>
<a asp-controller="Blog" asp-action="Article" asp-route-name="makale-ismi" asp-route-id=1>Makaleye git</a>
<a asp-controller="Product" asp-action="Pages" asp-route-page=1 asp-route-pageSize=3>1 sayfadan 3 ürün ver</a>
<a asp-controller="Product" asp-action="Pages" asp-route-page=2 asp-route-pageSize=3>2 sayfadan 3 ürün ver</a>

