@model List<ProductViewModel>
@{
    ViewData["Title"] = "Pages";
}

<h1>Pages</h1>
<h2>@ViewBag.Page</h2>
<h2>@ViewBag.PageSize</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>İsim</th>
            <th>Fiyat</th>
            <th>Stok</th>
            <th>Renk</th>
            <th>Yayınlansın mı?</th>
            <th>Süre(Ay)</th>
            <th>Ürün açıklama</th>
            <th>İşlem</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Stock</td>
                <td>@product.Color</td>
                <td>@(product.isPublish ? "Evet" : "Hayır")</td>
                <td>@product.Expire</td>
                <td>
                    @if (product.Description.Length > 20)
                    {
                        @product.Description.Substring(0,20)

                        <text>...</text>
                    }
                    else
                    {
                        @product.Description
                    }
                </td>
                <td>
                    <a asp-controller="Product" asp-action="Remove" asp-route-id="@product.Id">Sil</a>
                    <a asp-controller="Product" asp-action="Update" asp-route-id="@product.Id">Güncelle</a>
                    <a asp-controller="Product" asp-action="GetById" asp-route-productId="@product.Id">Ürün sayfasına git</a>
                </td>
            </tr>
        }
    </tbody>

</table>
